<!DOCTYPE html>
<html>
<head>
	<title>MiceWize - @ViewBag.Title</title>
	<meta name="description" content="MiceWize">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	@{ 
		Html.CssInclude("~/Content/Site.css");
		Html.CssInclude("~/Content/jquery-ui.custom.css");
		
		Html.ScriptRootDebugInclude("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js", "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js", 
				fallbackTypeCheck: "jQuery", fallbackFile: "~/Scripts/jquery-1.6.4.min.js");
		Html.ScriptRootInclude("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js",
				fallbackTypeCheck: "jQuery.ui", fallbackFile: "~/Scripts/jquery-ui-1.8.16.min.js");
				
		Html.ScriptRootInclude("~/Scripts/jquery.ba-bbq.js");
		Html.ScriptRootInclude("~/Scripts/Common.js"); 
	}

	@Html.RenderCss()
</head>

<body>
	<div class="page">
		<div id="header">
			
			<div id="title">
				<h1><span class="name">MiceWize</span> - one coder of many</h1>
			</div>
			<div id="search">
			</div>
			<div id="menucontainer">
			
                <ul id="menu">
                    <li>@Html.Link("Home", (object)Routes.IndexOfHome())</li>
                    @if (Request.IsAuthenticated) {
                        <li>@Html.Link("Devices", (object)Routes.IndexOfDevice())</li>
                        <li>@Html.Link("Celebrities", (object)Routes.IndexOfCelebrity())</li>
					}
                </ul>
                    

			</div>
		</div>
		<div id="main">
			<div id="content">
			@RenderBody()
			</div>
			<div id="footer" class="cleaner">
				<div id="logindisplay">
					@Html.Partial("LogOnUserControl")
				</div>
			</div>
		</div>
	</div>
		@Html.RenderScripts()
		@Html.RenderInlineScripts()
<script>
	var _gaq = [['_setAccount', 'XX-XXXX'], ['_trackPageview']];
	(function(d, t) {
		var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
	})(document, 'script');
</script>
</body>
</html>
