<!DOCTYPE html>
<html>
<head>
	<title>WiseMice - @ViewBag.Title</title>
    <meta name="description" content="MiceWize">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.ico">
	<!--[if lt IE 9]>
	<script src="/Scripts/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="/Content/Enhanced.css" media="screen  and (min-width: 840px)" />
    <!--[if (lt IE 9)&(!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="/Content/Enhanced.css" />
    <![endif]-->
	@{ 
		Html.CssInclude("~/Content/jquery-ui.custom.css");
		
		Html.ScriptRootDebugInclude("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js", "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js", 
				fallbackTypeCheck: "jQuery", fallbackFile: "~/Scripts/jquery-1.6.4.min.js");
		Html.ScriptRootInclude("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js",
				fallbackTypeCheck: "jQuery.ui", fallbackFile: "~/Scripts/jquery-ui-1.8.16.min.js");
				
		Html.ScriptRootInclude("~/Scripts/jquery.ba-bbq.js");
		Html.ScriptRootInclude("~/Scripts/Common.js"); 
	}

	@Html.RenderCss()
</head>

    <body>
        <script>
            window.resizePage = function() {
                var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
                if (width >= 880) {
                    document.getElementsByTagName('body')[0].className = 'js';
                } else {
                    document.getElementsByTagName('body')[0].className = '';
                }
            };
            window.resizePage();
        </script>
        <div class="page">
            @if (Request.IsAuthenticated)
            {
                <div id="menucontainer">
			
                    <ul id="menu">
                        <li>@Html.Link("Home", (object) Routes.IndexOfHome())</li>
                    
                        <li>@Html.Link("Devices", (object) Routes.IndexOfDevice())</li>
                        <li>@Html.Link("Celebrities", (object) Routes.IndexOfCelebrity())</li>
                    </ul>
                </div>
            }           
            <header id="top-header">
                <h1><a href="@Routes.IndexOfHome">WISE<span>&nbsp;&nbsp;</span>MICE</a></h1>
                <div id="social">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fwisemice.org&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.wisemice.org/" data-text="Check out this site! World's Best Designers and their Gear" data-hashtags="wisemice">Tweet</a>
                </div>
                <h2><span class="title"><strong>Hand picked</strong> Designers and their <span class="underscore">Gear</span></span></h2>
            </header>
            <div id="main">
                <div id="commands">
                    @RenderSection("Commands", false)
                </div>
                <div id="content">
                    @RenderBody()
                </div>
                <div id="footer" class="cleaner">
                    <div id="logindisplay">
                        @Html.Partial("LogOnUserControl")
                    </div>
                </div>
            </div>
            <footer>
                <div class="authors"><a href="http://www.twitter.com/jakubptacin">@@JAKUBPTACIN</a><span>&nbsp;&nbsp;</span><a href="http://www.twitter.com/vlkodotnet">@@VLKODOTNET</a></div>
                <div class="more">Made for <span class="underscore">fun</span></div>
            </footer>
        </div>
        <div id="fb-root"></div>
        @Html.RenderScripts()
        @Html.RenderInlineScripts()
        <script>
            $(function() {
                $(window).resize(resizePage);
                $("body.js #designers article img").after("<div class='img_hover'>");
                $("body.js #designers article .img_hover, body.js #designers article img").click(function () {
                    $("body.js #designers article").removeClass("js_click");
                    $(this).parent().addClass("js_click");
                });
                if (!(('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch)) {
                    $("#commands").addClass("js");
                }
            });
            var _gaq = [['_setAccount', 'UA-18426166-8'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.async = true;
                g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            })(document, 'script');
            
            // twitter
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
        </script>
    </body>
</html>
